.mylist{
	margin: 0px;
	list-style: none;
	padding: 0px;
	z-index: 999;
	position: absolute;
	background-color: #fff;
	top: 40px;
	width: 157px;
}
.thumbnail {
    display: block;
    padding: 0px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 0;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}