
body{
	overflow-x: hidden;
	font: normal 140% Helvetica, Arial, sans-serif;
	font-family: 微软雅黑;
}
.font{
	
}
ul li{
	list-style: none;
}
.foodlist{
	width: 100%;
	padding-top: 25px;
}

#foodlist{
  width: 80%;
  position: relative;
  left: 110px;
}

.font-a{
	font-size:2em;
	font-weight:bold;
	text-align:left;
	padding: 20px 0px;
}
.font-b{
	font-size:1.4em;
	text-align:left;
	padding: 10px 5px;
	color: #696969
}
.font-c{
	font-size:1.3em;
	text-align:left;
	padding: 11px 7px;
	position: relative;
	left: -70px;
	color: #696969
}

.badge{
	position: relative;
	top: -15px;
	left: 2px;
	background-color: #f37b1d
}
.label{
	position: relative;
	top: -15px;
	left: 36px;
}

.border-a{
	height:20px;
	background-color:#C0C0C0;
	padding:10px;
	font-weight:bold;
	color: #7d6877;
}
.col-md-2 img{
	width:196px;
	height: 180px;
}
#step_list{
	margin: 0px 97px;
}
#step_list .step_side{
	background-color: #dd514c;
	float: left;
	height: 120px;
	width: 22.5px;
	color: #ffffff
}
#step_list h2{
	line-height: 220%;
	position: relative;
	left: 2px
}
#step_list p{
	position: relative;
	top: -10px;
	margin-left: 35px;
	color:#dd514c;
	font:18px/30px Georgia, 微软雅黑, Times, serif;
}
#step_list .col-md-6{
	padding: 7px;
	margin-bottom: 10px;
	border-radius: 1px;
}