
@media screen and (max-width: 1024px){
	.heart{
	position: absolute;
    left: 59%;
    top: 178px;
	}
	.col-md-12 img{
	width:100%;
	height:260px;
	}
}
@media screen and (min-width: 1025px){
	.row-a{
		width:1000px;
		margin-left: 80px;

	}
	.col-md-3{
		width:250px;
	}
	.font-a{
	 	font-size:3.2em;
	 	font-family:仿宋;
	 	font: normal 120%;
	 	padding-left: 90px;
	}
	.font-b{
	 	font-size:1.2em;
	 	font-family:"仿宋";
	 	color: #333;
	 	padding: 0px 110px 0px 90px;
	}
	.heart{
	position: absolute;
    left: 50%;
    top: 178px;
	}
	.col-md-12 img{
	width:100%;
	height:300px;
	}
}
body{
	overflow-x: hidden;
	font-family: "仿宋" Helvetica, Arial, sans-serif;
 }
#food-thumb{
	width:188px;
	height: 180px;
}
#thumbnail{
	height: 265px;
}
.dropdown-menu li a{
    padding: 3px 13px;
}
.font{
	writing-mode:tb-rl;
 	font-size:1.2em;
 	font-family:仿宋;
}
.font-a{
 	font-size:3.2em;
 	font-family:仿宋;
 	font: normal 120%;
}
.font-b{
 	font-size:1.2em;
 	font-family:"仿宋";
 	color: #333;
}
.font-c{
 	font-size:1em;
 	font-family:仿宋;
 	color:#688d72;
 	font-weight:bolder;
}
.breadcrumb a{
 	font-size:1.1em;
 	font-family:微软雅黑;
}
.font p{
    display:inline-block;
    height:142px;
    text-align:left;
}
.actions{
	position: relative;
	z-index: 100;
}
.left,.right{
	padding-left: 10px;
}
.thumbnail{
	margin-top: 10px;
	margin-right: 10px;
	height: 380px;
	width:193px;
}
.thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img {  
    display: block;
    max-width: 100%;
    width: 100%;
    height: 230px;  	
}
.thumbnail p{
	font-family: arial;
}
.thumbnail span{
	font-family: arial;
}
.user-info {
	line-height: 65px;
	position: relative;
	top: -13px;
}
.user-info p{
	position: relative;
	top: -24px;
	display: inline-block;
}
.user-info img{
	width: 40%;	
}
.user-info span{
	position: relative;
	top: -60px;
	left: 23%;
	height: 30px;
	width: 80%;
	font-size: 12px;
}
hr{
	margin: 0px;
}