
body{
overflow-x: hidden;
font: normal 140% Helvetica, Arial, sans-serif;
font-family: 微软雅黑;
}
ul li{
list-style: none;
}
.font{
writing-mode:tb-rl;
}
.font-a{
font-size:2em;
font-family:仿宋;
font-weight:bold;
text-align:center;
}
.font-b{
font-size:1.5em;
font-family:仿宋;

text-align:left;
}
.font-c{
font-size:1.2em;
font-family:仿宋;
text-align:left;
}

.col-md-4 img{
width:325px;
height: 396px;
}

.title-a {
font-size:1.2em;
font-family:仿宋;
font-weight:bold;
}
.content-a{
height:40px;
background-color:#d8f8f3;
padding:10px;
font-weight:bold;
color: #7d6877;
}
.col-md-2 img{
width:196px;
height: 180px;
}
.pic img{
  width:142px;
}