*{
	font-family: "微软雅黑";
	font-size: 1.4rem;
}
body{
	overflow:-Scroll;
	overflow-x:hidden
}
.dropdown-menu li a{
	padding: 3px 13px;
}
.wbg1{
	position: relative;
	left: -15px;
	z-index: 1;
}
.wbg2{
	position: relative;
	z-index: 1;
}
#italy_introduce{
	position: absolute; 
	top: 360px; 
	left: 0px;
	z-index: 1;
	line-height: 200%;
	padding: 0px 30px;
}
#french_introduce{
	position: absolute; 
	top: 30px; 
	left: 0px;
	z-index: 1;
	line-height: 200%;
	padding: 0px 30px;
}
#russian_introduce{
	position: absolute; 
	top: 360px; 
	left: 0px;
	z-index: 1;
	line-height: 200%;
	padding: 0px 30px;
}
#uk_introduce{
	position: absolute; 
	top: 30px; 
	left: 0px;
	z-index: 1;
	line-height: 200%;
	padding: 0px 30px;
}
#footer_padding{
	padding: 30px 160px 10px 160px;
}
#qrc{
	padding: 0px 30px;
	border-right: 1px solid #C0C0C0;
}
#footer_introduce{
	padding: 30px 30px;
	line-height: 260%;
}
#footer_contact{
	padding: 30px 25px;
	line-height: 260%;
}

#avater{
	position: absolute;
	top: 370px;
	left: 100px;
}
#avater b{
  position: relative;top: 10px;left: 5px;
}
#collect_plate{
  background-color: white;
  border-radius: 1px;
  margin: 0px 45px 0px 20px;
  height: 305px;
}
#collect_list{
	position: relative;
	left: 80px;
}
#collect_list img{
  width: 100%;
  height: 100px;
}
#collect_list .caption{
  height: 85px;
}
#collect_page{
  position: relative;
  left: -40px;
  bottom: -163px;
}
.collect_information{
	padding: 3px 6px;
}
.collect_information a{
  font-size: 1em;
  color: black;
}
#publish_plate{
  background-color: white;
  border-radius: 1px;
  margin: 0px 45px 0px 20px;
  height: 305px;
}
#publish_list{
	position: relative;
	left: 80px;
}
#publish_list .caption{
  height: 85px;
}
#publish_list img{
  width: 100%;
  height: 100px;
}
#publish_page{
  position: relative;
  left: -60px;
  bottom: -163px;
}
.publish_information{
	padding: 3px 6px;
}
.publish_information a{
  font-size: 1em;
  color: black;
}
#cart_list{
	position: relative;
	left: 80px;
}

#cart_logo{
	border-radius: 5px;
}
#table_fir{
	width: 600px;
}
.table img{
  width: 50px;
  height: 50px;
}
.table p{
	padding-top: 24px;
}
.table a.btn{
  margin-top: 18px;
  margin-right: 18px;
}
#sum_pos{
	position: absolute;
	left: 115px;
	top: -10px;
}

#shopping_list{
	padding: 0px 100px;
}
.thumbnail .shopping_pic{
	width: 100%;
	height: 178px;
}
.caption{
	height: 120px;
}
.caption div{
  position: relative;
  top: -10px;
}
.count{
  padding-top: 20px;
}
.caption div p{
  color: #999;
  font-size: 10px;
}
.price{
	font-size: 1.6em;
	padding-right: 70px;
	position: relative;
	top: 9px;
}
/**
 * $Bottom 
 **/
.caption a.btn {
  display: inline-block;
  position: absolute;
  top: 220px;
  left: 160px;
  font-size: 26px;
  font-size: 1.625rem;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #fe4365;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 0 0 -2px #fff, 0 0 0 -1px #fe4365;
  box-shadow: 0 0 0 -2px #fff, 0 0 0 -1px #fe4365;
  border: none;
  -webkit-transition: -webkit-box-shadow .3s;
  transition: box-shadow .2s;
}
.caption a.btn:hover,.caption a.btn:focus {
  -webkit-box-shadow: 0 0 0 2px #fff, 0 0 0 4px #ff0364;
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #ff0364;
  -webkit-transition-timing-function: cubic-bezier(0.6, 4, 0.3, 0.8);
  transition-timing-function: cubic-bezier(0.6, 4, 0.3, 0.8);
  -webkit-animation: gelatine 0.5s 1;
  animation: gelatine 0.5s 1;
}

.caption a.btn-secondary {
  background: #c8c8a9;
  -webkit-box-shadow: 0 0 0 -2px #fff, 0 0 0 -1px #c8c8a9;
  box-shadow: 0 0 0 -2px #fff, 0 0 0 -1px #c8c8a9;
}
.caption a.btn-secondary:hover {
  -webkit-box-shadow: 0 0 0 2px #fff, 0 0 0 4px #bebe99;
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #bebe99;
}

.caption a.btn:active,.caption a.btn-secondary:active {
  background: #ff0364;
  -webkit-transition-duration: 0;
  transition-duration: 0;
  -webkit-box-shadow: 0 0 0 2px #fff, 0 0 0 4px #ff0364;
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #ff0364;
}

/**
 * $keyframes \ gelatine 
 **/
@keyframes gelatine {
  from, to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  25% {
    -webkit-transform: scale(0.9, 1.1);
    transform: scale(0.9, 1.1);
  }

  50% {
    -webkit-transform: scale(1.1, 0.9);
    transform: scale(1.1, 0.9);
  }

  75% {
    -webkit-transform: scale(0.95, 1.05);
    transform: scale(0.95, 1.05);
  }

  from, to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  25% {
    -webkit-transform: scale(0.9, 1.1);
    transform: scale(0.9, 1.1);
  }

  50% {
    -webkit-transform: scale(1.1, 0.9);
    transform: scale(1.1, 0.9);
  }

  75% {
    -webkit-transform: scale(0.95, 1.05);
    transform: scale(0.95, 1.05);
  }
}
@-webkit-keyframes gelatine {
  from, to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  25% {
    -webkit-transform: scale(0.9, 1.1);
    transform: scale(0.9, 1.1);
  }

  50% {
    -webkit-transform: scale(1.1, 0.9);
    transform: scale(1.1, 0.9);
  }

  75% {
    -webkit-transform: scale(0.95, 1.05);
    transform: scale(0.95, 1.05);
  }

  from, to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  25% {
    -webkit-transform: scale(0.9, 1.1);
    transform: scale(0.9, 1.1);
  }

  50% {
    -webkit-transform: scale(1.1, 0.9);
    transform: scale(1.1, 0.9);
  }

  75% {
    -webkit-transform: scale(0.95, 1.05);
    transform: scale(0.95, 1.05);
  }
}


.item .pic img{
  width: 24.3%;
}
#shopping_pic{
  width: 90%;
}
