*{
	font-family: "微软雅黑";
	font-size: 1.4rem;
}
body{
	overflow:-Scroll;
	overflow-x:hidden
}
a:hover{
  text-decoration: none;
}
.dropdown-menu li a{
	padding: 3px 13px;
}
img{
	width: 100%;
}

.wbg1{
	position: relative;
	left: -11px;
	width: 104.5%;
	z-index: 1;
}
.wbg2{
	position: relative;
	z-index: 1;
	width: 104.5%;
}
#italy_introduce{
	position: absolute; 
	top: 260px; 
	left: 0px;
	z-index: 1;
	line-height: 170%;
	padding: 0px 20px;
}
#french_introduce{
	position: absolute; 
	top: 10px; 
	left: 0px;
	z-index: 1;
	line-height: 170%;
	padding: 0px 20px;
}
#russian_introduce{
	position: absolute; 
	top: 260px; 
	left: 0px;
	z-index: 1;
	line-height: 170%;
	padding: 0px 20px;
}
#uk_introduce{
	position: absolute; 
	top: 10px; 
	left: 0px;
	z-index: 1;
	line-height: 170%;
	padding: 0px 20px;
}
#footer_padding{
	padding: 30px 100px 10px 100px;
}
#qrc{
	padding: 0px 30px;
	border-right: 1px solid #C0C0C0;
}
#footer_introduce{
	padding: 0px 25px;
	line-height: 260%;
}
#footer_contact{
	padding: 0px 25px;
	line-height: 260%;
}

#avater{
	position: absolute;top: 288px;left: 100px;
	width: 155px;
	height: 120px;
}
#avater img{
	width: 52%;
}
#avater b{
  position: relative;top: -43px;left: 90px;
}
#collect_plate{
  background-color: white;
  border-radius: 1px;
  margin: 0px 45px 0px 20px;
  height: 265px;
}
#collect_plate .thumbnail .caption{
  padding: 9px 2px;
}
#collect_list{
	position: relative;
	left: 56px;
}
#collect_list .caption{
  height: 70px;
}
.collect_information{
	padding: 5px 0px;
}
#collect_list img{
  width: 100%;
  height: 74px;
}
#collect_page{
  position: relative;
  left: -45px;
  bottom: -123px;
}
.collect_information a{
  font-size: 1em;
  color: black;
}
#publish_plate{
  background-color: white;
  border-radius: 1px;
  margin: 0px 45px 0px 20px;
  height: 265px;
}
#publish_plate .thumbnail .caption{
  padding: 9px 2px;
}
#publish_list{
	position: relative;
	left: 56px;
}
#publish_list .caption{
  height: 70px;
}
.publish_information{
	padding: 5px 0px;
}
#publish_list img{
  width: 100%;
  height: 74px;
}
.publish_information a{
  font-size: 1em;
  color: black;
}
#publish_page{
  position: relative;
  left: -45px;
  bottom: -123px;
}
#cart_list{
	position: relative;
	left: 46px;
}
#cart_list img{
	width: 27%;
}

#cart_logo{
	border-radius: 5px;
	width: 7%;
}
#table_fir{
	width: 460px;
}
.table img{
  width: 50px;
  height: 50px;
}
.table p{
	padding-top: 24px;
}
.table a.btn{
  margin-top: 18px;
  margin-right: 18px;
}
#sum_pos{
	position: absolute;
	left: 15px;
	top: 3px;
}
#sumbtn_pos{
  position: relative;
  right: -110px;
  bottom: 10px;
}

#shopping_list{
	padding: 0px 10px;
}
.thumbnail .shopping_pic{
	width: 100%;
	height: 149px;
}
.caption{
	height: 120px;
}
.caption div{
  position: relative;
  top: -23px;
}
.caption b{
  position: relative;
  top: 22px;
}
.caption div p{
  color: #999;
  font-size: 10px;
}
.price{
	font-size: 1.6em;
	padding-right: 30px;
	position: relative;
	top: 9px;
}
/**
 * $Bottom 
 **/
.caption a.btn {
  display: inline-block;
  position: relative;
  top: -33px;
  left: 90px;
  font-size: 26px;
  font-size: 1.625rem;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #fe4365;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 0 0 -2px #fff, 0 0 0 -1px #fe4365;
  box-shadow: 0 0 0 -2px #fff, 0 0 0 -1px #fe4365;
  border: none;
  -webkit-transition: -webkit-box-shadow .3s;
  transition: box-shadow .2s;
}
.caption a.btn:hover,.caption a.btn:focus {
  -webkit-box-shadow: 0 0 0 2px #fff, 0 0 0 4px #ff0364;
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #ff0364;
  -webkit-transition-timing-function: cubic-bezier(0.6, 4, 0.3, 0.8);
  transition-timing-function: cubic-bezier(0.6, 4, 0.3, 0.8);
  -webkit-animation: gelatine 0.5s 1;
  animation: gelatine 0.5s 1;
}

.caption a.btn-secondary {
  background: #c8c8a9;
  -webkit-box-shadow: 0 0 0 -2px #fff, 0 0 0 -1px #c8c8a9;
  box-shadow: 0 0 0 -2px #fff, 0 0 0 -1px #c8c8a9;
}
.caption a.btn-secondary:hover {
  -webkit-box-shadow: 0 0 0 2px #fff, 0 0 0 4px #bebe99;
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #bebe99;
}

.caption a.btn:active,.caption a.btn-secondary:active {
  background: #ff0364;
  -webkit-transition-duration: 0;
  transition-duration: 0;
  -webkit-box-shadow: 0 0 0 2px #fff, 0 0 0 4px #ff0364;
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #ff0364;
}

/**
 * $keyframes \ gelatine 
 **/
@keyframes gelatine {
  from, to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  25% {
    -webkit-transform: scale(0.9, 1.1);
    transform: scale(0.9, 1.1);
  }

  50% {
    -webkit-transform: scale(1.1, 0.9);
    transform: scale(1.1, 0.9);
  }

  75% {
    -webkit-transform: scale(0.95, 1.05);
    transform: scale(0.95, 1.05);
  }

  from, to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  25% {
    -webkit-transform: scale(0.9, 1.1);
    transform: scale(0.9, 1.1);
  }

  50% {
    -webkit-transform: scale(1.1, 0.9);
    transform: scale(1.1, 0.9);
  }

  75% {
    -webkit-transform: scale(0.95, 1.05);
    transform: scale(0.95, 1.05);
  }
}
@-webkit-keyframes gelatine {
  from, to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  25% {
    -webkit-transform: scale(0.9, 1.1);
    transform: scale(0.9, 1.1);
  }

  50% {
    -webkit-transform: scale(1.1, 0.9);
    transform: scale(1.1, 0.9);
  }

  75% {
    -webkit-transform: scale(0.95, 1.05);
    transform: scale(0.95, 1.05);
  }

  from, to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  25% {
    -webkit-transform: scale(0.9, 1.1);
    transform: scale(0.9, 1.1);
  }

  50% {
    -webkit-transform: scale(1.1, 0.9);
    transform: scale(1.1, 0.9);
  }

  75% {
    -webkit-transform: scale(0.95, 1.05);
    transform: scale(0.95, 1.05);
  }
}

#foodlist{
  padding-top: 30px;
}
.item .pic img{
  width: 24.2%;
}

#pd{
  border: 1px solid #C0C0C0;
  border-radius: 1px;
}
#fd_name{
  position: relative;
  left: -55px;
  padding-top: 5px;
}
#commentUser{
  font-size: 0.7em;
}
#avater-img img{
  position: relative;
  left: 5px;
}
#shopping_content{
  padding:80px 30px 0px 30px;
}