<!DOCTYPE html>
<html>
<head>
<title></title>
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<meta charset="utf-8">
<link rel="stylesheet" href="__PUBLIC__/home/css/bootstrap.min.css">
<link rel="stylesheet" media="screen and (max-width:1024px)" href="__PUBLIC__/home/css/medium.css" type="text/css" />
<link rel="stylesheet" media="screen and (min-width:1025px)" href="__PUBLIC__/home/css/large.css" type="text/css" />
<link rel="stylesheet" media="screen and (max-width:1024px)" href="__PUBLIC__/home/css/food_content_medium.css" type="text/css" />
<link rel="stylesheet" media="screen and (min-width:1025px)" href="__PUBLIC__/home/css/food_content_large.css" type="text/css" />
<link rel="stylesheet" href="__PUBLIC__/home/css/awesomplete.css" type="text/css" />
<link rel="stylesheet" href="__PUBLIC__/home/css/amazeui.css"/>
<link rel="stylesheet" href="__PUBLIC__/home/css/food_list_cartoon.css">
<link href="__PUBLIC__/home/css/font-awesome.css" rel="stylesheet">
<link href="__PUBLIC__/home/css/btnstyle.css" rel="stylesheet">
<script src="__PUBLIC__/home/js/jquery-1.11.1.js"></script>
<script src="__PUBLIC__/home/js/bootstrap.js"></script>
<script src="__PUBLIC__/home/js/jquery.slimscroll.js"></script>
<script src="__PUBLIC__/home/js/jquery.js"></script>    
<script src="__PUBLIC__/home/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/home/js/amazeui.min.js"></script>
<script src="__PUBLIC__/home/js/homeEdit.js"></script>
<script src="__PUBLIC__/home/js/register_form.js"></script>
<link rel="stylesheet" href="__PUBLIC__/home/css/idangerous.swiper.css">
<link rel="stylesheet" href="__PUBLIC__/home/css/style.css">
<script src="__PUBLIC__/home/js/idangerous.swiper.min.js"></script>
</head>
<style type="text/css">
  @media screen and (min-width:1025px) {
  #panda-show {
  font: 12px/1.5 "STHeiti","Microsoft YaHei","Helvetica Neue","Helvetica","SimSun","STSong","Arial","sans-serif";
  background: url(../images/bg.jpg) no-repeat center top;
  background-size: 100% auto;
  margin: 0px 110px;
  }
}
</style>
<body>
<!--页头-->
  <div class="header" style="height: 50px;">
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="background-color: white;">
      <div class="navbar-header">
        <a href="#"><img src="__PUBLIC__/home/images/logo1.png"></a>
      </div>
      <div class="collapse navbar-collapse" >
        <ul class="nav navbar-nav navbar-left" style="position: absolute;left: 40px;top: -10px;">
          <li>
             <a href="#"><img src="__PUBLIC__/home/images/logo2.png"></a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right" >
          <notempty name="username">
            <li>
              <a href="__MODULE__/login/index.html" style="padding: 15px 10px 15px 0px;" id="isLogin">欢迎：{$username}</a>
            </li>
            <li>
               <a href="__MODULE__/login/quit" style="padding: 15px 50px 15px 0px;">退出</a>
            </li>
            <else/> 
            <li>
              <a href="__MODULE__/login/index.html" style="padding: 15px 10px 15px 0px;" id="isLogin">登录</a>
            </li>
            <li>
               <a href="__MODULE__/login/register.html" style="padding: 15px 50px 15px 0px;">注册</a>
            </li> 
          </notempty>
      </ul>
      </div>
    </nav>
  </div><!-- header结束 -->

<!--背景-->
<div style="background-image: url(__PUBLIC__/home/images/bg.png);">
<!--内容-->
  <div class="content">
  <!--导航栏-->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="background-image: url(__PUBLIC__/home/images/bg.png);border-bottom: 1px solid #C0C0C0;">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right" style="font-weight: bold;color: black;">
          <li class="dropdown">
            <a href="__MODULE__/index/index.html">首页</a>
          </li>
          <li class="dropdown">
            <a href="__MODULE__/food/french_cate.html" class="dropdown-toggle">美食鉴赏</a>
            <ul class="dropdown-menu" style="text-align: center;min-width: 86px;">
              <li>
                <a href="__MODULE__/food/french_cate.html">法式菜肴</a>
              </li>
              <li>
                <a href="__MODULE__/food/uk_cate.html">英式菜肴</a>
              </li>
              <li>
                <a href="__MODULE__/food/us_cate.html">美式菜肴</a>
              </li>

              <li>
                <a href="__MODULE__/food/italy_cate.html">意式菜肴</a>
              </li>
              <li>
                <a href="__MODULE__/food/russian_cate.html">俄式菜肴</a>
              </li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="__MODULE__/publish/index.html" class="dropdown-toggle">美食DIY</a>
              <ul class="dropdown-menu" style="text-align: center;min-width: 82.68px;">
                <li>
                <a href="__MODULE__/publish/index.html">发布美食</a>
                </li>
              </ul>
          </li>
          <li class="dropdown">
               <a href="__MODULE__/shop/index.html" class="dropdown-toggle">食材商城</a>
            </li>
          <li class="dropdown">
               <a href="__MODULE__/users/collect.html" class="dropdown-toggle">个人中心</a>
              <ul class="dropdown-menu" style="text-align: center;min-width: 86px;">
                <li>
                   <a href="__MODULE__/users/collect.html">我的收藏</a>
                </li>
                <li>
                   <a href="__MODULE__/users/publish.html">我的发布</a>
                </li>
                <li>
                   <a href="__MODULE__/users/reset_information.html">修改信息</a>
                </li>
                <li>
                   <a href="__MODULE__/users/reset_password.html">修改密码</a>
                </li>
                 <li>
                   <a href="__MODULE__/cart/index.html">购物车</a>
                </li>
              </ul>
            </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle">关于我们</a>
          </li>
          <li>
            <form class="navbar-form navbar-left" role="search" action="{:U('Home/index/content')}" method="post">
                <input class="awesomplete" placeholder="搜索想要的美食..." id="searchFood" name="data" style="position: relative;top: 3px;" />             
                <button type="submit" class="btn btn-default btn-sm" style="position: relative;top: 1.5px;font-size: 0.8em;outline: none;">搜索</button>
                <ul class="mylist">
                </ul> 
              </form>
          </li>
        </ul>
      </div>
    </nav><!-- nav结束 -->
  </div><!-- content结束 -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <ul class="breadcrumb">
          <li>
            <a href="__MODULE__/index/index.html">首页</a> 
          </li>
          <li>
            <a href="__MODULE__/food/french_cate.html">美食鉴赏</a> 
          </li>
          <li>
            <a href="__MODULE__/food/french_cate.html">法式美食</a> 
          </li>
          <li class="active">
          当前
          </li>
        </ul>
      </div>
    </div>
    <!-- 美食图片 -->
      <div class="row">
        <div class="col-md-6">
          <img alt="Bootstrap Image Preview" src="__PUBLIC__/{$content.img}" class="foodlist" id="foodlist" />
        </div>
        <!-- 制作步骤 -->
        <div class="col-md-6">
          <div class="font-a" name="{$content.id}">
          {$content.name}
          </div>
          <div>
              <volist name="tagList" id="n">
                <span class="badge">{$n.tag_name}</span>&nbsp
              </volist>
            <a href="javascript:void(0)" id="addFav" name="{$content.id}" value="{$username}" style="position: relative;top: -15px;left: 4px;">加入收藏</a>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div class="font-b">
              美食介绍：
              </div>
            </div>
            <div class="col-md-9">
              <div class="font-c">
              {$content.content}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div class="font-b">
              菜品食材：
              </div>
            </div>
            <div class="col-md-9">
              <div class="font-c">
              {$content.ingredients}
              </div>
            </div>
          </div>
        </div>
      </div>
      <br/> 

    <!-- 操作步骤 -->
    <div class="container-fluid">
	    <div class="row clearfix" id="step_list">
			<div class="col-md-6 column">
			<div class="step_side"><h2>第一步</h2></div>
				<p>1.口感之细腻、酱料之美味、餐桌布置之华美，使饮食成为了一种艺术。并且因为各地所产原料和当地人口味不同，发展出多种多样的独特烹调方法，从而产生了变换无穷的美味</p>
			</div>
			<div class="col-md-6 column">
			<div class="step_side"><h2>第二步</h2></div>
				<p>2.口感之细腻、酱料之美味、餐桌布置之华美，使饮食成为了一种艺术。并且因为各地所产原料和当地人口味不同，发展出多种多样的独特烹调方法，从而产生了变换无穷的美味</p>
			</div>
			<div class="col-md-6 column">
			<div class="step_side"><h2>第三步</h2></div>
				<p>3.口感之细腻、酱料之美味、餐桌布置之华美，使饮食成为了一种艺术。并且因为各地所产原料和当地人口味不同，发展出多种多样的独特烹调方法，从而产生了变换无穷的美味</p>
			</div>
		</div>
	</div>
    <br/>

    <div id="panda-show">
  <div class="full">
    <div class="content">
      <a class="arrow-left" href="#"></a>
      <a class="arrow-right" href="#"></a>
      <div class="cover-left"></div>
      <div class="swiper-container">
        <div class="swiper-wrapper">
          
          <volist name="goods" id="n">
            <div class="swiper-slide">
              <a href="{:U('Home/shop/content',array('id'=>$n['id']))}" target="_blank">
                <img src="__PUBLIC__/{$n.img}"/>
                <div class="shuffer-line"></div>
                <div class="stars-info">
                    <div class="name">{$n.name}</div>
                    <div class="intro">{$n.content}</div>
                    <div class="icon-shuffer-live"></div>
                </div>
              </a>            
            </div> 
          </volist>
                  
        </div>
      </div>
            <div class="cover-right"></div>
    </div>
  </div>
</div>
<script type="text/javascript">
    slidesPerView=4
  slidesPerGroup=4
if(document.body.clientWidth>1400){
  slidesPerView=5
  slidesPerGroup=5
}

  var mySwiper = new Swiper('.swiper-container',{
    loop: true,
    speed:1000,
  onlyExternal : true,
  slidesPerView :  slidesPerView,
  slidesPerGroup : slidesPerGroup,
  loopedSlides :20,
  loopAdditionalSlides : 20,
  onSlideChangeEnd: function(swiper){
  //alert(swiper.activeIndex);
    if(swiper.activeIndex==40){
      swiper.swipeTo(0,0)
      }
    },

  });  
  $('.arrow-left').on('click', function(e){
    e.preventDefault()
    mySwiper.swipePrev()
  })
  $('.arrow-right').on('click', function(e){
    e.preventDefault()
    mySwiper.swipeNext()
  })

  
  
window.onresize=function() {
//  alert(document.body.clientWidth );
  
  if(document.body.clientWidth<1400){
    mySwiper.params.slidesPerView=mySwiper.params.slidesPerGroup=4;
    mySwiper.reInit();
    mySwiper.swipeTo(0,0)
    }else if(document.body.clientWidth<1660){
      mySwiper.params.slidesPerView=mySwiper.params.slidesPerGroup=5;
      mySwiper.reInit();
      mySwiper.swipeTo(0,0)
    }else{
      mySwiper.params.slidesPerView=mySwiper.params.slidesPerGroup=5;
      mySwiper.reInit();
      mySwiper.swipeTo(0,0)
      }
  

}
  
</script>

    <br/><br/>
      <div class="container">
        <div class="row">
        <!--评论框-->
        <div class="col-md-12">
          
          <form action="{:U('Home/food/addcomment')}" method="post" role="form" class="form-horizontal" id="inputComment">
            <h3 id="fd_name">{$content.name}的评论</h3>
            <div class="form-group">
              <div class="col-md-1" id="avater-img">
                <img src="__PUBLIC__/home/images/avater.jpeg" alt="" class="img-circle" style="width: 48px;height: 48px">
                <p id="commentUser">{$username}</p>
              </div>
              <div class="col-md-6" id="text">
                <textarea rows="5" cols="70" maxlength="140" name="comment"></textarea>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-1 col-xs-1 col-sm-1">
                <button type="button" class="btn btn-info" id="commentBtn" name="{$username}" rel="{$content.id}">评论</button>
              </div>
            </div>  
          </form>
        </div>
        <!--评论列表-->
        <div class="col-md-11"> 
          <ul class="am-comment-list" style="padding: 0px 40px">

            <volist name="commentList" id="n">
              <li class="am-comment" style="padding-bottom: 13px;">
                <a href="#">
                <img src="__PUBLIC__/home/images/food-UK-1.png" alt="头像" class="am-comment-avatar" width="48" height="48"/>
                </a>
                <div class="am-comment-main">
                  <header class="am-comment-hd">
                  <div class="am-comment-meta">
                    <a href="#link-to-user" class="am-comment-author">{$n.username}</a>
                    评论于 <time datetime="2016-07-27T04:54:29-07:00">{$n.com_time}</time><a href="javascript:void(0);" class="reply" name="{$n.username}">回复</a>
                  </div>
                  </header>
                    <div class="am-comment-bd" style="padding: 10px 15px;background-color: white">
                    {$n.comment}
                  </div>
                </div>
              </li>
            </volist>
            
          </ul>
        </div><!-- col-md-11 -->
        <div class="col-md-1"></div>
        </div>
      </div>   
    </div>   <!-- container-fluid结束 -->   
    <br/><br/><br/>
    <div class="row">
      <div class="col-md-8">
      </div>
      <div class="col-md-4">
        <ul class="pagination">
          <!-- 分页 -->
        </ul>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="footer">
        <div class="row clearfix" id="footer_padding">
          <div class="col-md-3 column" id="qrc">
          <a href="#"><img src="__PUBLIC__/home/images/qrc.jpg"></a>
          </div>
          <div class="col-md-5 column" id="footer_introduce">
          <p>爱尚美食，西餐美食菜谱分享网站。每天都有新分享，拥有最实用的美食、菜谱、食谱的做法，同是还有聚餐百万美食爱好者的美食家社区，欢迎加入！</p>
          </div>
          <div class="col-md-4 column" id="footer_contact">
          <p>联系方式：15800000000</br>邮箱：aishangxidian@163.com</br>地址：河北省石家庄市裕华区南二环东路20号</br></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>