<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
 	<meta charset="utf-8">
 	<link rel="stylesheet" href="__PUBLIC__/home/css/bootstrap.min.css">
  <link rel="stylesheet" href="__PUBLIC__/home/css/amazeui.css"/>
  <link rel="stylesheet" media="screen and (max-width:1024px)" href="__PUBLIC__/home/css/medium.css" type="text/css" />
  <link rel="stylesheet" media="screen and (min-width:1025px)" href="__PUBLIC__/home/css/large.css" type="text/css" />
  <script src="__PUBLIC__/home/js/jquery.js"></script>    
  <script src="__PUBLIC__/home/js/bootstrap.min.js"></script>
  <script src="__PUBLIC__/home/js/amazeui.min.js"></script>
  <script src="__PUBLIC__/home/js/homeEdit.js"></script>
  <script src="__PUBLIC__/home/js/register_form.js"></script>
   <link rel="stylesheet" href="__PUBLIC__/home/css/food.css"/>
</head>
<body>
<!--页头-->
  <div class="header" style="height: 50px;">
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="background-color: white;">
      <div class="navbar-header">
        <a href="#"><img src="__PUBLIC__/home/images/logo1.png"></a>
      </div>
      <div class="collapse navbar-collapse" >
        <ul class="nav navbar-nav navbar-left" style="position: absolute;left: 40px;top: -10px;">
          <li>
            <a href="#"><img src="__PUBLIC__/home/images/logo2.png"></a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right" >
          <notempty name="username">
              <li>
                <a href="__MODULE__/login/index.html" style="padding: 15px 10px 15px 0px;" id="isLogin">欢迎：{$username}</a>
              </li>
              <li>
                <a href="__MODULE__/login/register.html" style="padding: 15px 50px 15px 0px;">注册</a>
              </li>
            <else/> 
              <li>
                <a href="__MODULE__/login/index.html" style="padding: 15px 10px 15px 0px;" id="isLogin">登录</a>
              </li>
              <li>
                <a href="__MODULE__/login/register.html" style="padding: 15px 50px 15px 0px;">注册</a>
              </li> 
          </notempty>
        </ul>
      </div>
    </nav>
  </div>

  <!--背景-->
  <div style="background-image: url(__PUBLIC__/home/images/bg.png);">
    <!--内容-->
    <div class="content">
    <!--导航栏-->
      <nav class="navbar navbar-default navbar-static-top" role="navigation" style="background-image: url(__PUBLIC__/home/images/bg.png);border-bottom: 1px solid #C0C0C0;">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right" style="font-weight: bold;color: black;">
            <li class="dropdown">
               <a href="__MODULE__/index/index.html">首页</a>
            </li>
           <li class="dropdown">
               <a href="__MODULE__/food/french_cate.html" class="dropdown-toggle">美食鉴赏</a>
              <ul class="dropdown-menu" style="text-align: center;min-width: 86px;">
                <li>
                   <a href="__MODULE__/food/french_cate.html">法式菜肴</a>
                </li>
                <li>
                   <a href="__MODULE__/food/uk_cate.html">英式菜肴</a>
                </li>
                <li>
                   <a href="__MODULE__/food/us_cate.html">美式菜肴</a>
                </li>
                <li>
                   <a href="__MODULE__/food/italy_cate.html">意式菜肴</a>
                </li>
                 <li>
                   <a href="__MODULE__/food/russian_cate.html">俄式菜肴</a>
                </li>
              </ul>
            </li>
            <li class="dropdown">
               <a href="__MODULE__/publish/index.html" class="dropdown-toggle">美食DIY</a>
              <ul class="dropdown-menu" style="text-align: center;min-width: 82.68px;">        
                <li>
                   <a href="__MODULE__/publish/index.html">发布美食</a>
                </li>
              </ul>
            </li>
           <li class="dropdown">
               <a href="__MODULE__/shop/index.html" class="dropdown-toggle">食材商城</a>
              <ul class="dropdown-menu" style="text-align: center;min-width: 86px;">
                <li>
                   <a href="__MODULE__/shop/index.html">用具</a>
                </li>
                <li>
                   <a href="__MODULE__/shop/index.html">食材</a>
                </li>
              </ul>
            </li>
          <li class="dropdown">
               <a href="__MODULE__/users/index.html" class="dropdown-toggle">个人中心</a>
              <ul class="dropdown-menu" style="text-align: center;min-width: 86px;">
                <li>
                   <a href="__MODULE__/users/reset_information.html">修改信息</a>
                </li>
                <li>
                   <a href="__MODULE__/users/reset_password.html">修改密码</a>
                </li>
                 <li>
                   <a href="__MODULE__/cart/index.html">购物车</a>
                </li>
              </ul>
            </li>
            <li class="dropdown">
               <a href="#" class="dropdown-toggle">关于我们</a>
            </li>
            <li>
              <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                  <input type="text" class="form-control" />
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
              </form>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="container-fluid">
    	
    	<div class="row">
        <div class="col-md-12">
          <a href="content.html"><img alt="法式餐点" src="__PUBLIC__/home/images/food-F-0.png" class=""/>
        </div>
      </div>
    	<br / >
<div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-12">
              <ul class="breadcrumb">
                <li>
                  <a href="__MODULE__/index/index.html">首页</a> 
                </li>
                <li>
                  <a href="__MODULE__/french/french_cate.html">美食鉴赏</a> 
                </li>
                <li class="active">
                  英式餐点
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    	<div class="row">
    		<div class="col-md-1 col-sm-1 col-xs-1">
    			<!-- 文字实现竖排 -->
    			<div class="font-a">英式餐点</div>
    		</div>
    		<div class="col-md-11">
    			<div class="row">
    					<p>
    						<div class="font-b">不同于欧陆早餐面包加咖啡的简单搭配，英式早餐以菜点丰富著名。需要说明的是标准英式早餐中这么多种类的食品不是供客人选用其中几样，而是全都放在大餐盘里让客人大朵快颐。</div>
    					</p>
    				<br /><br />
    			</div><!-- 下方为图片列表内容   -->
    				<!-- 第一行图片 -->
    					<div class="row">
    						<volist name="food" id="n">
    							<div class="col-md-3 col-sm-4 col-xs-4">
    								<div class="row">
    									<div class="col-md-8 col-sm-7 col-xs-6" >
    										<a href="__MODULE__/food/content/id{$n.id}"><img alt="英式餐点" src="__PUBLIC__/{$n.img}"  id="img-a"/></a>
    										<br/><br/>
    									 <div class="font-c">
                        <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">收藏</div>
                        <div class="col-md-6 col-sm-6 col-xs-6">赞({$n.food_praise_count})</div>
                        </div>
                        </div>
    									</div> 									
    									<div class="col-md-4 col-sm-5 col-xs-6">
    										<div class="font">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<p>{$n.name}</p></div>
    									</div>
    								</div>
    							</div>
    						</volist>
    					</div>
    					<br /><br />
    				</div>
    		</div>
    	</div>				
    	<br/><br/>
    	<div class="row">
    		<div class="col-md-8">
    		</div>
    		<div class="col-md-4">
    			<ul class="pagination">
    			</ul>
    		</div>
    	</div>
    	<br/>
    	<div class="row">
    		<div class="footer">
          <div class="row clearfix" id="footer_padding">
            <div class="col-md-3 column" id="qrc">
              <a href="#"><img src="__PUBLIC__/home/images/qrc.jpg"></a>
            </div>
            <div class="col-md-5 column" id="footer_introduce">
              <p>爱尚美食，西餐美食菜谱分享网站。每天都有新分享，拥有最实用的美食、菜谱、食谱的做法，同是还有聚餐百万美食爱好者的美食家社区，欢迎加入！</p>
            </div>
            <div class="col-md-4 column" id="footer_contact">
              <p>联系方式：15800000000</br>邮箱：aishangxidian@163.com</br>地址：河北省石家庄市裕华区南二环东路20号</br></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
</html>