
				<!--breadcrumb-->
				<div class="col-md-12 bread">
					<ul class="breadcrumb">
						<li>
							 <a href="__MODULE__/index/index.html">首页</a>
						</li>
					</ul>
				</div>
				<div class="col-md-12 viewList">
					<div class="col-md-6 view">
						<div class="col-md-3">
							<img src="__PUBLIC__/admin/images/admin.png" alt="" width="75px" height="60px">
						</div>
						<div class="col-md-9">
							<h4>管理员管理</h4>
							<p> 统一管理管理员账户，用于添加后台管理员及修改，删除管理员信息。</p>
							<a href="__MODULE__/admin/list.html"><button>点击进入</button></a>
						</div>
					</div>
					<div class="col-md-6 view">
						<div class="col-md-3">
							<img src="__PUBLIC__/admin/images/user.png" alt="" width="75px" height="60px">
						</div>
						<div class="col-md-9">
							<h4>用户管理</h4>
							<p>  同一管理管理员账户，可以添加删除或者修改用户信息。</p>
							<a href="__MODULE__/user/list.html"><button>点击进入</button></a>
						</div>
					</div>
					<div class="col-md-6 view">
						<div class="col-md-3">
							<img src="__PUBLIC__/admin/images/foodmanage.png" alt="" width="75px" height="60px">
						</div>
						<div class="col-md-9">
							<h4>美食管理</h4>
							<p> 统一管理美食信息，可以添加美食图片，食材，步骤，并进行修改删除</p>
							<a href="__MODULE__/food/list.html"><button>点击进入</button></a>
						</div>
					</div>
					<div class="col-md-6 view">
						<div class="col-md-3">
							<img src="__PUBLIC__/admin/images/shopmanage.png" alt="" width="75px" height="60px">
						</div>
						<div class="col-md-9">
							<h4>商城管理</h4>
							<p>  统一管理商城信息，可以对商城的食材和用具相关信息进行修改、删除，并上传美食信息。</p>
							<a href="__MODULE__/shop/list.html"><button>点击进入</button></a>
						</div>
					</div>
					<div class="col-md-6 view">
						<div class="col-md-3">
							<img src="__PUBLIC__/admin/images/tagmanage.png" alt="" width="75px" height="60px">
						</div>
						<div class="col-md-9">
							<h4>标签管理</h4>
							<p> 可以根据美食信息添加可供用户选择的标签，并且可以修改删除标签。</p>
							<a href="__MODULE__/tag/list.html"><button>点击进入</button></a>
						</div>
					</div>
					<div class="col-md-6 view">
						<div class="col-md-3">
							<img src="__PUBLIC__/admin/images/favoritemanage.png" alt="" width="75px" height="60px">
						</div>
						<div class="col-md-9">
							<h4>收藏夹管理</h4>
							<p>  统一管理用户在收藏夹中添加的美食信息，可以进行修改或者删除操作。</p>
							<a href="__MODULE__/favorite/list.html"><button>点击进入</button></a>
						</div>
					</div>
					<div class="col-md-6 view">
						<div class="col-md-3">
							<img src="__PUBLIC__/admin/images/cartmanage.png" alt="" width="75px" height="60px">
						</div>
						<div class="col-md-9">
							<h4>购物车管理</h4>
							<p>  统一用户在购物车中添加的美食信息，可以进行修改或者删除操作。</p>
							<a href="__MODULE__/cart/list.html"><button>点击进入</button></a>
						</div>
					</div>
					<div class="col-md-6 view">
						<div class="col-md-3">
							<img src="__PUBLIC__/admin/images/foodpublic.png" alt="" width="75px" height="60px">
						</div>
						<div class="col-md-9">
							<h4>美食推送</h4>
							<p>  添加用于在网站首页显示的美食信息，可以上传图片等信息。</p>
							<a href="__MODULE__/public/public.html"><button>点击进入</button></a>
						</div>
					</div>
				</div>
			