<!DOCTYPE html>
<html>
  <head>
    <title>首页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <meta charset="utf-8">
    <link rel="stylesheet" href="__PUBLIC__/home/css/bootstrap.min.css">
    <script src="__PUBLIC__/home/js/jquery.js"></script>    
    <script src="__PUBLIC__/home/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/home/js/homeEdit.js"></script>
    <style type="text/css">
      *{
        font-family: "微软雅黑";
      }
    </style>
  </head>
  <body>
  <!--页头-->
  <div class="header" style="height: 50px;">
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="background-color: white;">
      <div class="navbar-header">
         <a href="#"><img src="__PUBLIC__/home/images/logo1.png"></a>
      </div>
      
      <div class="collapse navbar-collapse" >
        <ul class="nav navbar-nav navbar-left" style="position: absolute;left: 40px;top: -10px;">
          <li>
             <a href="#"><img src="__PUBLIC__/home/images/logo2.png"></a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right" >
          <li>
            <a href="login.html" style="padding: 15px 10px 15px 0px;">注册</a>
          </li>
          <li>
            <a href="register.html" style="padding: 15px 50px 15px 0px;">登录</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <!--背景-->
  <div style="background-image: url(__PUBLIC__/home/images/bg.png);">
    <!--内容-->
    <div class="content">
    <!--导航栏-->
      <nav class="navbar navbar-default navbar-static-top" role="navigation" style="background-image: url(__PUBLIC__/home/images/bg.png);border-bottom: 1px solid #C0C0C0;">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right" style="font-weight: bold;color: black;">
            <li class="dropdown">
               <a href="#">首页</a>
            </li>
           <li class="dropdown">
               <a href="#" class="dropdown-toggle">美食鉴赏</a>
              <ul class="dropdown-menu" style="text-align: right;min-width: 100px;">
                <li>
                   <a href="#">法式菜肴</a>
                </li>
                <li>
                   <a href="#">英式菜肴</a>
                </li>
                <li>
                   <a href="#">美式菜肴</a>
                </li>
               
                <li>
                   <a href="#">意式菜肴</a>
                </li>
                 <li>
                   <a href="#">俄式菜肴</a>
                </li>
              </ul>
            </li>
            <li class="dropdown">
               <a href="#" class="dropdown-toggle">美食DIY</a>
              <ul class="dropdown-menu" style="text-align: right;min-width: 100px;">
         
                <li>
                   <a href="#">发布美食</a>
                </li>

              </ul>
            </li>
           <li class="dropdown">
               <a href="#" class="dropdown-toggle">食材商城</a>
              <ul class="dropdown-menu" style="text-align: right;min-width: 100px;">
                <li>
                   <a href="#">用具</a>
                </li>
                <li>
                   <a href="#">食材</a>
                </li>
            
              </ul>
            </li>
          <li class="dropdown">
               <a href="#" class="dropdown-toggle">个人中心</a>
              <ul class="dropdown-menu" style="text-align: right;min-width: 100px;">
                <li>
                   <a href="#">修改信息</a>
                </li>
              
                <li>
                   <a href="#">修改密码</a>
                </li>
                 <li>
                   <a href="#">我的购物车</a>
                </li>
              </ul>
            </li>
            <li class="dropdown">
               <a href="#" class="dropdown-toggle">关于我们</a>
            </li>
            <li>
              <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                  <input type="text" class="form-control" />
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
              </form>
            </li>
          </ul>
        </div>
      </nav>

      <!--幻灯片-->
      <div style="padding: 9px;">
        <div class="carousel slide" id="carousel-188560">
          <ol class="carousel-indicators">
            <li class="active" data-slide-to="0" data-target="#carousel-188560">
            </li>
            <li data-slide-to="1" data-target="#carousel-188560">
            </li>
            <li data-slide-to="2" data-target="#carousel-188560">
            </li>
          </ol>
          <div class="carousel-inner">
            <div class="item active"
            >
              <img alt="" src="__PUBLIC__/home/images/home_banner1.jpg"/>
            </div>
            <div class="item">
              <img alt="" src="__PUBLIC__/home/images/home_banner2.jpg"/>
            </div>
            <div class="item">
              <img alt="" src="__PUBLIC__/home/images/home_banner3.jpg"/>
            </div>
          </div> <a class="left carousel-control" href="#carousel-188560" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-188560" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
      </div>

      <!--各式餐点-->
      <div class="row clearfix" style="padding: 0px 25px;">
        <div class="col-md-3 column" style="padding: 0px;">
          <a href="#"><img src="__PUBLIC__/home/images/home_pic1.jpg"></a>
          <a href="#"><img src="__PUBLIC__/home/images/wbg2.png" style="position: relative;z-index: 1"></a>
          <span style="position: absolute; top: 360px; left: 0px;z-index: 1;line-height: 170%;padding: 0px 20px;">
            <h3>意氏西餐</h3>
            &nbsp;&nbsp;有人问西餐之母是哪国菜？大部分人会说是法国菜，现在郑重地告诉大家，西餐之母是意大利菜！意大利菜系非常丰富，菜品成千上万，除了大家耳熟能详的比萨饼和意大利粉，它的海鲜和甜品都闻名遐迩。源远流长的意大利餐，对欧美国家的餐饮产生了深厚影响，并发展出包括法餐、美国餐在内的多种派系，故有“西餐之母”之美称。
          </span> 
        </div>
        <div class="col-md-3 column" style="padding: 0px;">
          <a href="#"><img src="__PUBLIC__/home/images/wbg1.png" style="position: relative;left: -15px;"></a>
          <span style="position: absolute; top: 30px; left: 0px;z-index: 1;line-height: 170%;padding: 0px 20px;">
            <h3>法氏西餐</h3>
            &nbsp;&nbsp;法国不仅是浪漫之国,也是美食美酒的天堂。法国菜是世界上著名菜系之一，已为众所公认。它的口感之细腻、酱料之美味、餐具摆设之华美，简直可称之为一种艺术。 法国的烹饪技术一向著称于世界。法国菜不仅美味可口，而且菜肴的种类很多，烹调方法也有独到之处。
          </span>
          <a href="#"><img src="__PUBLIC__/home/images/home_pic1.jpg"></a>
        </div>
        <div class="col-md-6 column" style="padding: 0px;">
          <a href="#"><img src="__PUBLIC__/home/images/home_pic3.jpg"></a>
        </div>
      </div>
      <div class="row clearfix" style="padding: 0px 25px;">
        <div class="col-md-6 column" style="padding: 0px;">
          <a href="#"><img src="__PUBLIC__/home/images/home_pic2.jpg"></a>
        </div>
        <div class="col-md-3 column" style="padding: 0px;">
          <a href="#"><img src="__PUBLIC__/home/images/home_pic1.jpg"></a>
          <a href="#"><img src="__PUBLIC__/home/images/wbg2.png" style="position: relative;z-index: 1"></a>
          <span style="position: absolute; top: 360px; left: 0px;z-index: 1;line-height: 170%;padding: 0px 20px;">
            <h3>俄氏西餐</h3>
            &nbsp;&nbsp;俄罗斯菜肴特点为选料广泛、讲究制作、加工精细、因料施技、讲究色泽、味道多样、适应性强、油大、味重。作为一个地跨欧亚大陆的世界上领土面积最大的国家，虽然俄罗斯在亚洲的领土非常辽阔，但由于其绝大部分居民居住在欧洲部分，因而其饮食文化更多地接受了欧洲大陆的影响，呈现出欧洲大陆饮食文化的基本特征，但由于特殊的地理环境、人文环境以及独特的历史发展进程，也造就了独具特色的俄罗斯饮食文化。
          </span>
        </div>
        <div class="col-md-3 column" style="padding: 0px;">
          <a href="#"><img src="__PUBLIC__/home/images/wbg1.png" style="position: relative;left: -15px;"></a>
            <span style="position: absolute; top: 30px; left: 0px;z-index: 1;line-height: 170%;padding: 0px 20px;">
            <h3>英氏西餐</h3>
            &nbsp;&nbsp;英国菜可以用一个词来形容——“Simple”（简单）。吃英国菜就是在恋爱,味道与爱情,都是自己选择的。并非是用舌头来评判味道,而是用心。英国的饮食文化里，英国菜是很丰富的，人体说需要的各种营养都会从这些不同的食物中得到满足。英国菜的烹调对原料的取舍不多，一般用单一的原料制作，要求厨师不加配料，要保持菜式的原汁原味。
          </span>
          <a href="#"><img src="__PUBLIC__/home/images/home_pic1.jpg"></a>
        </div>
      </div>
    </div>

  <!--页脚-->
    <div class="footer">
      <div class="row clearfix">
        <div class="col-md-6 column">
        </div>
        <div class="col-md-3 column">
        </div>
        <div class="col-md-3 column">
        </div>
      </div>
      <div class="row clearfix" style="padding: 30px 30px 10px 30px;">
        <div class="col-md-3 column" style="padding: 0px 10px 0px 70px;border-right: 1px solid #C0C0C0;">
          <a href="#"><img src="__PUBLIC__/home/images/qrc.jpg"></a>
        </div>
        <div class="col-md-5 column" style="padding: 0px 50px;line-height: 260%;">
        </br>
          <p>爱尚美食，西餐美食菜谱分享网站。850000道菜谱，625000条美食日记，7500000位美食达人，每天都有新分享，拥有最实用的美食、菜谱、食谱的做法，同是还有聚餐百万美食爱好者的美食家社区，欢迎加入！</p>
        </div>
        <div class="col-md-4 column" style="padding: 10px 20px;">
        </br>
          <p style="line-height: 260%;">联系方式：xxxx</br>邮箱：xxxx</br>地址：xxxx</br></p>
        </div>
      </div>

      <div style="border-top: 1px solid #C0C0C0;border-bottom: 1px solid #C0C0C0;text-align: center;">
        <a>Home</a> | <a>About</a> | <a>Service</a> | <a>Products</a> | <a>Contact</a>
      </div>
    </div>
  </div>
  </body>
</html>