
				<!--breadcrumb-->
				<div class="col-md-12 bread">
					<ul class="breadcrumb">
						<li>
							 <a href="__MODULE__/index/index.html">首页</a>
						</li>
						<li>
							 <a href="__MODULE__/food/index.html">美食管理</a>
						</li>
						<li>
							 <a href="#">添加美食</a>
						</li>
					</ul>
				</div>
				<!--预览层-->
				<div class="dialog">
					<div class="dialogMessage">
						<!--成品图-->
						<div class="col-sm-4 foodImg">
							<img src="" alt="" class="diaImg" width="300px" height="350px">
						</div>
						<div class="col-sm-7 foodContent">
							<!--名称-->
							<div class="col-sm-12">
								<span id="foodName"></span>
							</div>
							<!--标签-->
							<div class="col-sm-12 badge-favor">
								<a href="javascript:void(0)" class="favor">加入收藏</a>
							</div>
							<div class="col-sm-2 introTiele">
					            <span>美食介绍:</span>
							</div>
							<div class="col-md-10 introContent">
				              	<p></p>
				            </div>
				           	<div class="col-sm-12"></div>
				            <div class="col-sm-2 ingreTitle">
					            <span>相关食材:</span>
							</div>
							<div class="col-md-10 ingreContent">
				              	<p></p>
				            </div>
						</div>
						<!--步骤-->
						<div class="col-sm-12 steps">
							<div class="foodStep"></div>
						</div>
						<div class="col-sm-12 diaBottom">
							<button class="btn cancle">取消</button>
							<button class="btn diaPublic">发布</button>
						</div>
					</div>
				</div>
				<!--userList-->
				<div class="col-md-12 userList">
					<div class="col-md-12">
						<h4>添加美食</h4>
					</div>
					<!--shop-->
					<div class="col-md-12">
						<form class="form-horizontal" role="form" action="{:U('Admin/food/store')}" method="post" enctype="multipart/form-data">
							<div class="form-group">
								<label for="inputFoodClassify" class="col-xs-3 col-md-3 control-label" style="width: 120px;">选择商品类型：</label>
								<div class="col-xs-9 col-md-9 classify">
									<label for="" class="shopRadio"><input type="radio" id="inputFoodClassify" value="法式菜肴" name="classify" />法式菜肴</label>
									<label for="" class="shopRadio"><input type="radio" id="inputFoodClassify" value="意式菜肴" name="classify" />意式菜肴</label>
									<label for="" class="shopRadio"><input type="radio" id="inputFoodClassify" value="美式菜肴" name="classify" />美式菜肴</label>
									<label for="" class="shopRadio"><input type="radio" id="inputFoodClassify" value="英式菜肴" name="classify" />英式菜肴</label>
									<label for="" class="shopRadio"><input type="radio" id="inputFoodClassify" value="俄式菜肴" name="classify" />俄式菜肴</label>
								</div>
							</div>
							<div class="form-group">
								 <label for="inputFoodTag" class="col-xs-2 col-md-2 control-label">标签：</label>
								<div class="col-xs-7 col-md-7">
									<input type="text" name="tags" id="postTag" style="display: none;">
									<!--标签-->
									<div id="mycard-plus">
										<div class="default-tag tagbtn">
											<div class="clearfix">
												<volist name="tagList" id="n">
													<a value="-1" title="选择一个标签" href="javascript:void(0);" class="addTag" rel="none"><span>{$n.tagname}</span><em></em></a>
												</volist>
											</div>
										</div><!--mycard-plus end-->
									</div>	
								</div>
							</div>
							<div class="form-group">
								 <label for="inputFoodName" class="col-xs-2 col-sm-2 control-label">美食名称：</label>
								<div class="col-xs-7 col-md-7">
									<input type="text" class="form-control" id="inputFoodName" name="name" />
								</div>
							</div>
							<div class="form-group">
								 <label for="inputFoodName" class="col-xs-2 col-sm-2 control-label">成品图片：</label>
								<div class="col-xs-7 col-md-7">
									<input type="file" id="inputFoodImg" class="form-control" name="img">
								</div>								
							</div>
							<div class="form-group">
								 <label for="inputFoodStep" class="col-xs-2 col-sm-2 control-label">美食心得：</label>
								<div class="col-xs-7 col-md-7">
									<textarea class="form-control" id="inputFoodContent" rows="3" name="content"></textarea>
								</div>
							</div>
							<div class="form-group">
								 <label for="inputFoodMeta" class="col-xs-2 col-sm-2 control-label">相关食材：</label>
								<div class="col-xs-7 col-md-7">
									<textarea class="form-control" id="inputFoodMeta" rows="3" name="ingredients"></textarea>
								</div>
							</div>
							<div class="form-group">
								 <label for="inputFoodStep" class="col-xs-2 col-sm-2 control-label">步骤：</label>
								 <label for="inputFoodStep" class="col-xs-7 col-sm-7 control-label">
									<a href="javascript:void(0)"><span class="addStep">添加步骤</span></a>
								</label>
							</div>
							<textarea name="step" id="postStep" cols="30" rows="10" style="display: none;"></textarea>

							<div class="form-group step">
								 <label for="inputFoodStep" class="col-xs-2 col-sm-2 control-label">
								 	步骤<span class="stepNum">1</span>
								 </label>
								 <div class="col-xs-7 col-md-7">
									<textarea class="form-control" id="inputFoodStep" rows="3" ></textarea>
								</div>
								<a href="javascript:void(0)" class="removeStep"><span class="glyphicon glyphicon-remove"></span></a>
							</div>
							

							<div class="form-group">
								<div class="col-xs-2 col-sm-2 col-md-2">
									 <button type="submit" id="submit" class="btn">发布</button>
								</div>
								<div class="col-xs-7 col-sm-7 preview">
									 <a href="javascript:void(0)" id="preview">预览</a>
								</div>
							</div>
						</form>
					</div>
				</div>
			