{__NOLAYOUT__}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>注册</title>
	<link rel="stylesheet" href="__PUBLIC__/admin/css/bootstrap.css">
	<link rel="stylesheet" href="__PUBLIC__/admin/css/bootstrap-theme.css">
	<link rel="stylesheet" href="__PUBLIC__/admin/css/adminStyle.css">
	<script src="__PUBLIC__/admin/js/jquery.js"></script>
	<script src="__PUBLIC__/admin/js/bootstrap.js"></script>
	<script src="__PUBLIC__/admin/js/adminEditor.js"></script>	
</head>
<body>
	<div class="wrapper">
		<!--top-->
		<div class="top">
			<div class="logo">
				<img src="__PUBLIC__/admin/images/logo.png" alt="">
			</div>
			<div class="top-right">
				<ul>
					<li><a href="__MODULE__/login/index.html">登录</a></li>
					<li><a href="__MODULE__/login/register.html">注册</a></li>
				</ul>
			</div>
		</div>
		<!--head-->
		<div class="head">
			<div class="login-shouye">
				<a href=""><img src="__PUBLIC__/admin/images/home.png" alt="" width="22px" height="22px">首页</a>
			</div>
			<div class="head-title">
				<h3>爱尚西点后台管理系统</h3>
				<p>manager</p>
			</div>	
		</div>
		<!--content-->
		<div class="row content">
			<span id="res"></span>
			<form class="form form-horizontal register" style="margin: 110px 0 0 0;" enctype="multipart/form-data" method="post" action="register_add">
				<div class="control-group">
					<div class="controls">
						<img src="__PUBLIC__/admin/images/login.png" alt="" width="20" height="22px">
						<input id="input" class="username" type="text" placeholder="用户名：6-10位数字或者字母" name="username" />
					</div>
				</div>
				<div class="control-group">
					<div class="controls">
						<img src="__PUBLIC__/admin/images/password.png" alt="" width="22" height="22px">
						<input id="input" type="password" class="password" placeholder="密码:6-10位数字或者字母" name="password" />
					</div>
				</div>
				<div class="control-group">
					<div class="controls">
						<img src="__PUBLIC__/admin/images/password.png" alt="" width="22" height="22px">
						<input id="input" type="password" class="rePassword" placeholder="确认密码" name="rePassword" />
					</div>
				</div>
				<div class="control-group">
					<div class="controls">
						<img src="__PUBLIC__/admin/images/name.png" alt="" width="22" height="22px">
						<input id="input" type="text" class="realname" placeholder="真实姓名" name="realname" />
					</div>
				</div>
				<div class="control-group">
					<div class="controls">
						<img src="__PUBLIC__/admin/images/telphone.png" alt="" width="22" height="22px">
						<input id="input" type="text" class="telphone" placeholder="手机号" name="telphone" />
					</div>
				</div>
				<div class="control-group">
					<div class="controls">
						<button type="submit" class="loginBtn" id="registerBtn">注册</button>
					</div>
					<div class="controls">
						<a href="login.html">登录</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</body>
</html>